*{
    box-sizing: border-box;
}
html,.main,body{
    height: 100%;
}
body{
    margin:0;
    font-size:13px;
}
ul{
    list-style: none;
    margin:0;
}
.none{
    display: none !important;
}
.overflow-auto{
    overflow: hidden;
    height: 100%;
    width: 100%;
    outline: none;
}
.dir-warp{
    bottom: 60px;
}
.dir-warp,
.widget-scroller{
    position: absolute;
    top: 61px;
    width:100%;
}
.dir-list{
    overflow: hidden;
    height: 100%;
    width: 100%;
    outline: none;
}
.top-banner{
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 100;
    background: #398dee;
    color:#fff;
}
.main-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    min-width:1000px;
}
.sidebar {
    height: 100%;
    width: 240px;
    border-right: 1px solid #e0e1e5;
    position: relative;
    background-color: #f5f5f5;
}
.create-dir,.create-art{
    cursor: pointer;
}
.no-item p{
    color:#868686;
    font-size:12px;
}
.no-item .create-art.btn{
    margin-top:10px;
    line-height: 32px;
    color: #ffffff;
    background: #398dee;
    border-radius: 2px;
    border: 1px solid #398dee;
    width: 100px;
    padding:0;
    font-size:12px;
}
.no-item .btn:hover {
    background: #337ed5;
    border: 1px solid #337ed5;
}
.dir-list .my-dir-list{
    padding: 10px !important;
}
.dir-list .my-dir-list .icon{
    background-position: 59.07692307692308% 83.38461538461539%;
    padding-top: 8px;
}
.dir-list .my-dir-list.curr .icon{
    background-position: 36.92307692307692% 83.38461538461539%;
}
.dir-list ul >li .li-dir{
    padding-left:30px;
}
.item-list {
    position: absolute;
    top: 0;
    left: 240px;
    right: 0;
    bottom: 0;
}
.item-wrap{
    position: relative;
    width: 320px;
    height: 100%;
    border-right: 1px solid #e0e1e5;
    background-color: #fff;
}
.detail-container{
    position: absolute;
    left: 560px;
    top: 0;
    right: 0;
    bottom: 0;
}
.article{
    height: 100%;
    position: relative;
}
.article.empty{
    text-align: center;
    vertical-align: middle;
    background-color: #f8f8f8;
}
.article.empty::before {
    height: 100%;
    content: ' ';
    vertical-align: middle;
    display: inline-block;
}
.empty-img{
    display: inline-block;
    background-image: url("/img/sprite.svg");
    background-repeat:no-repeat;
    background-position: 53.9622641509434% 0;
    width: 84px;
    height: 84px;
}
.rightbtn{
    position: relative;
}
.dir-list .li-dir{
    cursor:pointer;
    clear:both;
    padding:4px 10px 4px 5px;
}
.dir-list .li-dir:hover{
    background-color: #e4edf8;
}
.cur-drap{
    background-color: #e0e1e5;
}
.dir-list .cur-drap{
    border-top:1px dashed #398dee;
    border-bottom:1px dashed #398dee;
}
.dir-list .li-dir.cur-drap{
    padding-top:3px;
    padding-bottom:3px;
}
.dir-list .my-dir-list.cur-drap{
    padding-top:9px !important;
    padding-bottom:9px !important;
}
.dir-list .li-dir.curr{
    background-color: #398dee;
    color: #fff;
}
#item-list li > div{
    padding: 15px;
    cursor: pointer;
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #e0e1e5;
}
.item-hd{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e0e1e5;
    position: relative;
}
.li-article{
    position: relative;
}
#item-list li > div:hover{
    background-color:#f6f7f9 ;
}
.li-article .icon{
    float:left;
    display: block;
}
.item-list .rightbtn .name{
    float:left;
    padding-left:5px;
    max-width:180px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.no-item{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}
.item-time{
    float:right;
    color:#c2c2c2;
    font-size:12px;
    margin-top: 2px
}
.li-article.curr{
    background-color: #eaf0fb !important;
}
.li-dir .icon,.li-dir span{
    display: block;
    float: left;
}
.dir-list .li-dir .down-btn{
    margin-top: 6px;
    width: 12px;
    height: 12px;
}
.dir-list .my-dir-list .down-btn{
    margin-top:5px;
    margin-right: 10px;
}
.dir-list .li-dir .drop-down{
    background: url("/img/sprite.svg") no-repeat;
    background-position: 72.83582089552239% 61.492537313432834%;
}
.dir-list .li-dir.curr .drop-down{
    background: url("/img/sprite.svg") no-repeat;
    background-position: 0 100%;
}
.dir-list .li-dir .pack-up{
    background: url("/img/sprite.svg") no-repeat;
    background-position: 12.537313432835822% 100%;
}
.dir-list .li-dir.curr .pack-up{
    background: url("/img/sprite.svg") no-repeat;
    background-position: 8.35820895522388% 100%;
}
.li-dir .name{
    padding-left:5px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width:auto;
}
.right-menu{
    display: none;
    position: absolute;
    right:5px;
    top:4px;
    padding: 14px;
    background: url("/img/sprite.svg") no-repeat;
    background-position: 60.7% 37%;
}
.item-list .right-menu{
    top:15px;
    right:20px;
}
.li-dir:hover .right-menu,
.li-article:hover .right-menu{
    display: block;
}
.rightbtn:hover .item-time{
    display: none;
}
.li-dir.curr:hover .right-menu,
.li-article.curr:hover .right-menu{
    background-position: 60.7% 28.6%;
}
.li-dir:hover > div {
    padding-right:26px;
}
.li-dir ~ ul{
    display: none;
}
.dir-list > ul{
    display: block;
}
.dir-list ul ul .li-dir{
    padding-left:50px;
}
.dir-list ul ul ul .li-dir{
    padding-left:70px;
}
.dir-list ul ul ul ul .li-dir{
    padding-left:90px;
}
.dir-list ul ul ul ul ul .li-dir{
    padding-left:110px;
}
.li-dir .icon{
    background: url("/img/sprite.svg") no-repeat;
    background-position: 60.92307692307692% 57.53846153846154%;
    padding:12px 12px;
}
.li-article .icon{
    background: url("/img/sprite.svg") no-repeat;
    background-position: 79% 90%;
    padding:12px;
}
.wangEditor-container{
    border:0;
}
.wangEditor-menu-container{
    border-top:1px solid #eee ;
    border-bottom:1px solid #eee ;
}
.title-wrap{
    padding:8.5px;
    clear:both;
    overflow: auto;
}
.title{
    float:left;
    font-size: 30px;
    border:0;
    width:998px;
}
.title:focus{
    outline:0;
}
.save{
    float:right;
}
.dir-right-menu{
    border:0;
    border-radius:2px;
    box-shadow: 0px 1px 16px 0 rgba(90, 109, 122, 0.41);
    min-width: auto;
    padding:0;
}
.dir-right-menu li{
    padding:8px 20px;
    color:#999;
    font-size:12px;
    width:100px;
    cursor: pointer;
}
.dir-right-menu .li-divider{
    border-bottom:1px solid #EBF3FD;
}
.dir-right-menu li:hover{
    background-color: #f4f9ff;
    color:#76b0f3;
}
.rename-input{
    height:22px;
    line-height: 22px;
    width:90%;
    border:1px solid #79ace7;
    border-radius:2px;
    color:#333;
    padding-left:5px;
}
.item-rename{
    max-width:265px !important;
    width:265px;
}
.item-rename .rename-input{
    width:100%;
}
.dir-rename{
   padding-right:0 !important;
}
.parallel-drap{
    height:33px;
    border:1px dashed #e0e1e5;
}
.item-dir .drop-down{
    display: none !important;
}