<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/wangEditor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/wangEditor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/wangEditor/common.css">
    <link rel="stylesheet" type="text/css" href="/wangEditor/index.css">
    <link rel="stylesheet" type="text/css" href="/wangEditor/wangEditor.min.css">
    <link rel="stylesheet" href="/css/common.css"/>
    <title>私人笔记本</title>
</head>
<body>
<div class="main">
    <div class="top-banner"></div>
    <div class="main-container">
        <div class="sidebar">
            <div class="dir-hd">
                <div class="create-dir">新建文件夹</div>
                <div class="create-note">新建笔记</div>
            </div>
            <div class="dir-warp">
                <div class="widget-scroller-wrap">
                    <div class="scroller-container">
                        <div class="dir-list"></div>
                    </div>
                    <div class="widget-scroller-bar"></div>
                </div>
            </div>
        </div>

        <div class="item-list">
            <div class="item-wrap">
                <div class="item-hd">
                    <div class="search-wrap">
                        <i class="search-icon"></i>
                        <input class="search-input" placeholder="搜索" >
                    </div>
                </div>
                <div class="widget-scroller">
                    <div class="widget-scroller-wrap">
                        <div class="scroller-container">
                            <ul class="item-dir"></ul>
                            <ul class="item-note"></ul>
                        </div>
                        <div class="widget-scroller-bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-container">
            <div class="note-detail">
                <div class="title-wrap">
                    <input id="note-id" type="hidden" />
                    <input type="text" title="" class="title" />
                    <button class="save btn btn-primary">保存</button>
                </div>
                <div class="note-scroller-wrap note-view" id="wangDemo"></div>
            </div>
        </div>
    </div>
</div>
<ul class="dropdown-menu dir-right-menu" role="menu">
    <li class="move-up">上移</li>
    <li class="move-down">下移</li>
    <li class="delete">删除</li>
    <li class="li-divider rename">重命名</li>
    <li class="right-create-note">新建笔记</li>
    <li class="right-create-dir">新建文件夹</li>
</ul>
<div class="none">
    <img id="drop-dir" src="/img/drap_dir.png" />
    <img id="drop-note" src="/img/drap_note.png" />
</div>
</body>
<script type="text/javascript" src="/wangEditor/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='/wangEditor/bootstrap.min.js'></script>
<script type="text/javascript" src='/wangEditor/wangEditor.min.js'></script>
<script type="text/javascript" src="/wangEditor/index.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/mousewheel.js"></script>
<script type="text/javascript" src="/js/rightmenu.js"></script>
<script type="text/javascript" src="/js/drag.js"></script>
<script type="text/javascript">
    var time = null;

    $("body").on("click", '.create-dir', function(){
        if($(".dir-list .curr").length > 0){
            var parent_id = $('.dir-list .li-dir.curr').data('id');
            var class_id = parseInt($('.dir-list .li-dir.curr').attr('class-id')) + 1;
        }else{
            var parent_id = 0;
            var class_id = 1;
        }
        RightType = 'dir';
        create_dir(parent_id,class_id);
    })

    function create_dir(parent_id,class_id){
        $.ajax({
            url:  '/dir/create_dir',
            data:{'parent_id':parent_id,'class_id':class_id},
            type: "POST",
            dataType:'json',
            success:function(id){
                var html = '<li>'+create_dir_html(class_id,id,'新建文件夹',0)+'</li>';
                var obj = $(".dir-list .li-dir[data-id="+parent_id+"]");
                if(obj.next('ul').length > 0) obj.next('ul').append(html);
                else obj.after('<ul>'+html+'</ul>');

                obj.children('.down-btn').addClass('drop-down pack-up');
                obj.next('ul').show();
                if(parent_id == $('.item-list').attr('parent-id')) $('.item-dir').append(html);
                create_update_name($(".dir-list .li-dir[data-id="+id+"]"));
            },
            error:function(e){}
        });
    }

    function create_dir_html(class_id,dir_id,dir_name,is_parent,time){
        var html = '<div draggable="true" class="li-dir rightbtn" class-id="'+ class_id+'" data-id="'+ dir_id+'" >';
        if(is_parent == 1) html += '<span class="down-btn drop-down"></span>';
        else html += '<span class="down-btn"></span>';
        html += '<i class="icon"></i><div class="name">'+dir_name+'</div>';
        if(time != undefined) html += '<div class="item-time">'+time+'</div>';
        html += '<i class="right-menu"></i></div>';
        return html;
    }

    function create_note_html(obj){
        return '<li><div draggable="true" class="li-note rightbtn" data-id="'+ obj.rec_id+'"><i class="icon"></i><div class="name">'+ obj.title+'</div><div class="item-time">'+ obj.time+'</div><i class="right-menu"></i></div></li>';
    }

    $("body").on("click", '.create-note', function(){
        if($(".li-dir").hasClass("curr")){
            var dir_id = $('.li-dir.curr').data('id');
        }else{
            var dir_id = $('.sidebar .li-dir:first-child').data('id');
        }
        create_note(dir_id);
    })

    function create_note(dir_id){
        if($('.item-list .no-item').length > 0) $('.item-list .no-item').remove();
        $.ajax({
            url:  '/dir/note_create',
            data:{'dir_id':dir_id},
            type: "POST",
            dataType:'json',
            success:function(obj){
                //不是当前选中的文件夹创建笔记时，要把这个文件夹选中
                if(dir_id != $('.dir-list .li-dir.curr').data('id')){
                    $('.dir-list .li-dir.curr').removeClass('curr');
                    $('.dir-list .li-dir[data-id='+dir_id+']').addClass('curr');
                    //得到item列表后把新建的笔记设置选中
                    item_list();
                }else{
                    if($('.item-note li').length > 0){
                        $('.item-note li:first-child').before(create_note_html(obj));
                    }else{
                        $('.item-note').prepend(create_note_html(obj));
                    }
                }
                $('.li-note.curr').removeClass('curr');
                $('.li-note[data-id='+obj.rec_id+']').addClass('curr');
                show_note();
            },
            error:function(e){}
        });
    }

    function get_wangDemo_height(){
        var height = $('.note-detail').height() - $("#wangDemo").offset().top + 30;
        $('#wangDemo').height(height);
    }

    window.onresize = get_wangDemo_height;

    window.onbeforeunload = function(){
        if($('.dir-list .li-dir.curr').length > 0) var dir_id = $('.dir-list .li-dir.curr').data('id');
        else var dir_id = 0;
        $.cookie('currDir', dir_id , { path : '/' });

        if($('.item-note .li-note.curr').length > 0) var rec_id = $('.item-note .li-note.curr').data('id');
        else var rec_id = 0;
        $.cookie('currNote', rec_id , { path : '/' });
    }

    $("body").on("click", '.li-note', function(){
        $('.li-note.curr').removeClass('curr');
        var rec_id = $(this).data('id');
        $(".li-note[data-id="+rec_id+"]").addClass('curr');
        show_note();
    })

    $("body").on("click", '.li-dir', function(){
        $('.dir-list .li-dir.curr').removeClass('curr');
        var dir_id = $(this).data('id');
        var obj = $(".dir-list .li-dir[data-id="+dir_id+"]");
        var downBtn = obj.parent('li').parent('ul').prev('.li-dir').children('.down-btn');
        obj.addClass('curr');
        obj.parents('ul').show();
        if(!downBtn.hasClass('pack-up')) downBtn.addClass('pack-up');
        item_list();
        show_note();
    })

    $("body").on("click", '.li-dir .drop-down', function(){
        open_dir($(this));
    })

    $("body").on("dblclick", '.dir-list .li-dir', function(){
        open_dir($(this).children('.down-btn'));
    })

    function open_dir(obj){
        var parent = obj.parent();
        if(parent.next('ul').is(":hidden")){
            parent.next('ul').show();
            obj.addClass('pack-up');
        }else{
            parent.parent().find('ul').hide();
            parent.parent().find('ul').prev('.li-dir').children('.down-btn').removeClass('pack-up');
        }
        $(".dir-right-menu").hide();
        return false;
    }

    dir_list();
    function dir_list(){
        $.ajax({
            url:  '/dir/dir_list',
            data:{},
            type: "POST",
            dataType:'json',
            success:function(obj){
                var html = '<div class="li-dir my-dir-list" class-id="0" data-id="0">';
                if(obj.length > 0) html+= '<span class="down-btn drop-down pack-up"></span>';
                html += '<i class="icon"></i>&nbsp;&nbsp;我的文件夹</div>';
                html += creat_list(obj);
                $('.dir-list').html(html);
                if($.cookie('currDir')){
                    var dir_id = $.cookie('currDir');
                    $('.dir-list .li-dir[data-id='+dir_id+']').parents('ul').show();
                    $('.dir-list .li-dir[data-id='+dir_id+']').parents('ul').prev('.li-dir').children('.down-btn').addClass('pack-up');
                }else{
                    var dir_id = 0;
                }

                $('.dir-list .li-dir[data-id='+dir_id+']').addClass('curr');
                $('.item-list').attr('parent-id',dir_id);
                item_list();
                show_note();
            },
            error:function(e){}
        });
    }

    function creat_list(obj){
        var html = '<ul>';
        $.each(obj, function(key, v){
            if(v.child){
                html += '<li>'+create_dir_html(v.class_id, v.dir_id,v.dir_name,1);
                html += creat_list(v.child);
                html += '</li>';
            }else{
                html += '<li>'+create_dir_html(v.class_id, v.dir_id,v.dir_name,0)+'</li>';
            }
        })
        return html += '</ul>';
    }

    function no_item_html(){
        return '<div class="no-item"><p>没有找到文件</p><button class="btn create-note">新建笔记</button></div>';
    }

    function empty_note(){
        $('.note-detail').addClass('empty');
        $('.note-detail').children().hide();
        $('.note-detail').append('<div class="empty-img"></div>');
        $('.title-wrap input').val('');
        $('.note-detail .note-view').html('');
    }

    function item_list(){
        var id = $('.li-dir.curr').data('id');
        if(id == undefined){
            id = $('.sidebar .li-dir:first-child').data('id');
            $(".sidebar .li-dir[data-id="+id+"]").addClass('curr');
        }
        //去除滚动条的影响
        $('.item-list .scroller-container').css("margin-top", 0);

        $.ajax({
            url:  '/dir/item_list',
            data:{'dir_id':id},
            type: "POST",
            async:false,
            dataType:'json',
            success:function(obj){
                $('.item-list').attr('parent-id',id);
                var html = '';
                $.each(obj.dir, function(key, v){
                    html += '<li>'+create_dir_html(v.class_id, v.dir_id, v.dir_name,0, v.time)+'</li>';
                })
                $('.item-dir').html(html);
                html = '';
                $.each(obj.note, function(key, v){
                    html += create_note_html(v);
                })
                if(obj.dir.length == 0 && obj.note.length == 0){
                    empty_note();
                    $('.item-note').html(no_item_html());
                }
                $('.item-note').html(html);
            },
            error:function(e){}
        });
    }

    function show_note(){
        //没有任何笔记时
        if($('.item-note li').length == 0){
            $('.note-detail').addClass('empty');
            $('.note-detail').children().hide();
            $('.note-detail').append('<div class="empty-img"></div>');
            $('.title-wrap input').val('');
            $('.note-detail .note-view').html('');
            return false;
        }
        if($('.note-detail').hasClass('empty')){
            $('.note-detail .empty-img').remove();
            $('.note-detail').removeClass('empty');
            $('.note-detail').children().show();
        }
        //有笔记时
        if($('.item-note .li-note.curr').length > 0){
            var rec_id = $('.item-note .li-note.curr').data('id')
        }else if($.cookie('currNote') && $('.item-note .li-note[data-id='+$.cookie('currNote')+']').parents('.item-list').length>0
                && $('.dir-list .li-dir.curr').data('id') == $('.item-list').attr('parent-id')){
            var rec_id = $.cookie('currNote');
        }else{
            var rec_id = $('.item-note li:first-child .li-note').data('id');
        }

        $('.item-note .li-note[data-id='+rec_id+']').addClass('curr');
        $.ajax({
            url:  '/dir/note_item',
            data:{'rec_id':rec_id},
            type: "POST",
            dataType:'json',
            success:function(obj){
                $('#note-id').val(obj.rec_id);
                $('.note-detail .title').val(obj.title).attr('title',obj.title);
                $('.note-detail .note-view').html(obj.content);
            },
            error:function(e){}
        });
    }

    $("body").on("blur", '.note-detail', function(e){
        var title = $('.title').val();
        var pri_title = $('.title').attr('title');
        var content = $('#wangDemo').html();
        if(title == pri_title && content == '') return false;
        save_note();
    })

    $("body").on("click", '.save', function(){
        var title = $('.title').val();
        if(title == '') alert('标题不能为空');
        save_note();
    })

    $('.title').bind('input propertychange', function() {
        $('.li-note.curr .name').text($(this).val());
    });

    function save_note(){
        var title = $('.title').val();
        var rec_id = $('#note-id').val();
        var content = $('#wangDemo').html();
        if(title == '') return false;
        $.ajax({
            url:  '/dir/note_update',
            data:{'title':title,'content':content,'rec_id':rec_id},
            type: "POST",
            dataType:'json',
            success:function(obj){
                if($(".li-note[data-id="+rec_id+"] .name").text() != title) $(".li-note[data-id="+rec_id+"] .name").html(title);
            },
            error:function(e){}
        });
    }

</script>
</html>