<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>

<body>
    <div class="sidebar" ng-app="dirlist">
       <section ng-controller="TestController">
            <accordion expander='expander' child='expander.child' ng-repeat='expander in expanders' on-finish-render>
            </accordion>
        </section>
    </div>

    <div id="itemlist" class="list" ng-app="myApp" ng-controller="siteCtrl">
        <ul class="none">
            <li ng-repeat="x in mydir">
                {{ x.dir_name }}
            </li>
            <li ng-repeat="x in myart">
                {{ x.title }}
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    var dirlist = angular.module('dirlist', []);
    dirlist.controller('TestController', function($scope, $http) {
        $http.get("/dir/dir_list").success(function (response) {
            $scope.expanders = response;
        });
    });

    dirlist.directive('accordion', function($compile) {
        return {
            restrict: 'EA',
            replace:true,
            scope:{
                expander:'=',
                child:'='
            },
            template: "<ul  > <li class='li_dir' class-id='{{expander.class_id}}' data-id='{{expander.dir_id}}'>{{expander.dir_name}}</li></ul>",
            link: function(scope,elm) {
                 if(scope.child){
                     var html=$compile("<accordion  expander='expander' child='expander.child' ng-repeat='expander in child'></accordion>")(scope);
                     elm.append(html)
                 }
            }
        };
    });

    $("body").on("click", '.li_dir', function(){
        $('.li_dir.curr').removeClass('curr');
        $(this).addClass('curr');

    })

    var app = angular.module('myApp', []);
    app.controller('siteCtrl', function($scope, $http) {
        var id = $('.li_dir.curr').data('id');
        if(id == undefined) id = $('.sidebar li:first-child').data('id');
        $http.post("/dir/item_list",{'dir_id':id}).success(function (response) {
            $scope.mydir = response.dir;
            $scope.myart = response.art;
            $('ul.none').show();
        });
    });


    dirlist.directive('onFinishRender',function($timeout){
        return {
            restrict: 'A',
                link: function(scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function() {
                        angular.bootstrap(document.getElementById("itemlist"), ['myApp']);
                    });
                }
            }
    };
    });


</script>

</body>
</html>