<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/login.css"/>
    <title>登陆</title>
</head>
<body>
<div class="login-main">
    <div class="login-left">
        <div id="login" class="login">
            <h2>账号登录：</h2>
            <div class="row">
                <input type="text" placeholder="账号" class="login-input phone">
            </div>
            <div class="row">
                <input type="password" placeholder="密码" class="login-input password">
            </div>
            <div class="row">
                <div id="drag">
                    <div class="drag_bg"></div>
                    <div class="drag_text" unselectable="on" data-value="0">拖动滑块验证</div>
                    <div class="handler handler_bg"></div>
                </div>
            </div>
            <div class="row check-row">
                <label class="login-label"><input type="checkbox" class="login-checkbox" checked="checked">自动登录</label>
                <a class="login-nopassword" target="_blank" href="http://reg.163.com/getpasswd/RetakePassword.jsp">忘记密码?</a>
                <div class="login-error"></div>
            </div>
            <div class="row row-btn">
                <button class="btn-blue btn" onclick="login()">登录</button>
                <span onclick="show_register()" class="btn-white regist-btn btn">注册</span>
            </div>
        </div>
        <div id="register" class="register none">
            <h2>账号注册：</h2>
            <div class="row">
                <input type="text" placeholder="手机号" class="login-input phone">
            </div>
            <div class="row">
                <input type="password" placeholder="密码" class="login-input password">
            </div>
            <div class="row">
                <input type="password" placeholder="再次输入密码" class="login-input dbpass">
            </div>
            <div class="row check-row">
                <div class="login-error"></div>
            </div>
            <div class="row row-btn">
                <button class="btn-white btn" onclick="show_login()">登录</button>
                <span onclick="register()" class="btn-blue regist-btn btn">注册</span>
            </div>
        </div>
    </div>
    <div class="login-middle"></div>
    <div class="login-right">
        <h2>其他账号登录：</h2>
        <div>
            <div class="qq btn" data-oauth="/login/acc/login?app=web&amp;product=YNOTE&amp;tp=cqq&amp;cf=2&amp;fr=1">
                <span class="icon-qq"></span>
                使用qq账号登录
            </div>
            <div class="weixin btn" data-oauth="/login/acc/login?app=web&amp;product=YNOTE&amp;tp=weixin&amp;cf=2&amp;fr=1">
                <span class="icon-weixin"></span>
                使用微信账号登录
            </div>
            <div class="weibo btn" data-oauth="/login/acc/login?app=web&amp;product=YNOTE&amp;tp=tsina&amp;cf=2&amp;fr=1">
                <span class="icon-sina"></span>
                使用新浪微博账号登录
            </div>
            <div class="email btn" data-oauth="/login/acc/login?app=web&amp;tp=qiye&amp;product=YNOTE&amp;cf=2&amp;fr=1">
                <span class="icon-email"></span>
                使用网易企业邮箱登录
            </div>
        </div>
        <div class="more">
            <span class="more-btn"><span class="more-login">更多登录</span></span>
            <div class="qqweb-huawei">
                        <span class="tweibo" data-oauth="/login/acc/login?app=web&amp;product=YNOTE&amp;tp=wqq&amp;cf=2&amp;fr=1">
                            <span class="icon-qqweb"></span>
                        </span>
                        <span class="hw" data-oauth="/login/acc/login?app=web&amp;product=YNOTE&amp;tp=huawei&amp;cf=2&amp;fr=1">
                            <span class="icon-huawei"></span>
                        </span>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/wangEditor/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript">
    var ref_url = document.referrer;
    function register(){
        var phone = $('.register .phone').val();
        var password = $('.register .password').val();
        var dbpass = $('.register .dbpass').val();
        $.ajax({
            url:  '/user/register',
            data:{'phone':phone,'password':password,'dbpass':dbpass},
            type: "POST",
            dataType:'json',
            success:function(res){
                if(res.status == 'error'){
                    $('.register .login-error').text(res.msg).show();
                }else{
                    window.location.href='/index/test';
                }
            },
            error:function(e){}
        });
    }

    function login(){
        var phone = $('.login .phone').val();
        var password = $('.login .password').val();

        if($('.drag_text').attr('data-value') == 0){
            $('.login .login-error').text('请拖动滑块验证').show();
            return false;
        }
        $.ajax({
            url:  '/user/login',
            data:{'phone':phone,'password':password},
            type: "POST",
            dataType:'json',
            success:function(res){
                if(res.status == 'error'){
                    $('.login .login-error').text(res.msg).show();
                }else{
                    window.location.href='/index/test';
                }
            },
            error:function(e){}
        });
    }

    function show_login(){
        $('.login').show(500);
        $('.register').hide(500);
    }

    function show_register(){
        $('.login').hide(500);
        $('.register').show(500);
    }

    $(".login-input").focus(function(){
        $('.login-error').hide().text('');
    });

    $('#drag').drag();

</script>
</html>