<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/editor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/show.css">
    <title>个人主页</title>
</head>
<body>
<div class="header">

</div>
<div class="main">
    <div class="main-left">
        <div class="panel-profile" data-id="{$user.uid}" dir-id="{$dir_id}">
            <div class="panel-head">人个资料</div>
            <div class="panel-body">
                <img class="user-avatar" src="{$user.avatar}" onerror="javascript:this.src='/img/avatar_default.jpg';"/>
                <p class="user-name">{$user.user_name}</p>
            </div>
            <div class="panel-head">文章分类</div>
            <div class="dir-list">{$dir_list}</div>
        </div>
    </div>
    <div class="main-right">
        <div class="list-note">
            {if count($note_list) > 0}
            {foreach name="note_list" item="one"}
            <div class="list-item">
                <div class="note-title">
                    <div class="title-warp"><a href="/details/{$one.rec_id}">{$one.name}</a></div>
                </div>
                <div class="note-description">{:mb_substr(trim(strip_tags($one.content)),0, 280, 'utf-8').'...'}</div>
                <div class="note-manage">
                    <span class="link-postdate">{:date('Y-m-d H:i',$one.c_time)}</span>
                    <span class="link-view" title="阅读次数"><a href="/details/{$one.rec_id}" title="阅读次数">阅读</a>({$one.view})</span>
                    <span class="link-comments" title="评论次数"><a href="/details/{$one.rec_id}#comments" title="评论次数">评论</a>({$one.comment})</span>
                </div>
            </div>
            {/foreach}
            {else}
            <div class="empty"><p>没有内容，去看看别的吧</p><p><img src="/img/sorry.jpg" /></p></div>
            {/if}
        </div>
        <div class="page-pagination">{$note_list->render()}</div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/show.js"></script>
</html>